body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
}

main {
    margin: auto;
    width: 500px;
    text-align: center;
    border: solid black 3px;
    padding: 10px 20px;
    padding-bottom: 30px;
}

a {
    padding: 0 10px;
}

#accomplishments {
    text-align: left;
}

img {
    height: 500px;
    width: 100%;
}

.form {
    margin: 10% auto;
}

form {
    text-align: center;
}

input {
    margin: 5px;
}


textarea {
    margin: 5px;
}